MotorReservas.Web/Service References/AdministraionService/Administracion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MotorReservas.Entidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MotorReservas.Entidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element name="_x003C_Activo_x003E_k__BackingField" nillable="true" type="xs:boolean" />
      <xs:element name="_x003C_Clave_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Correo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Descripcion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FechaRegistro_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_FechaUltimoRegistro_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_IdEmpresa_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_IdUsuario_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_UrlImagen1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UrlImagen2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UrlImagen3_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_User_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
</xs:schema>