MotorReservas.Web/Service References/AdministraionService/Administracion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MotorReservas.Entidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MotorReservas.Entidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element name="_x003C_Activo_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Apellido_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Clave_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Correo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Descripcion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FechaRegistro_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_FechaUltimoRegistro_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_IdEmpresa_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_IdUsuario_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Nombre_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UrlImagen1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UrlImagen2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UrlImagen3_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="ArrayOfModulo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Modulo" nillable="true" type="tns:Modulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModulo" nillable="true" type="tns:ArrayOfModulo" />
  <xs:complexType name="Modulo">
    <xs:sequence>
      <xs:element name="_x003C_Activo_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Descripcion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FechaRegistro_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_IdModulo_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Nombre_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Modulo" nillable="true" type="tns:Modulo" />
  <xs:complexType name="ArrayOfEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empresa" nillable="true" type="tns:Empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresa" nillable="true" type="tns:ArrayOfEmpresa" />
  <xs:complexType name="Empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCiudad" type="xs:int" />
      <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="IdPerfil" type="xs:int" />
      <xs:element minOccurs="0" name="Identificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlImagen1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlImagen2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlImagen3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa" nillable="true" type="tns:Empresa" />
  <xs:complexType name="ArrayOfRol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rol" nillable="true" type="tns:Rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRol" nillable="true" type="tns:ArrayOfRol" />
  <xs:complexType name="Rol">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rol" nillable="true" type="tns:Rol" />
</xs:schema>